<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MM About</title>
<link th:replace="fragments/head">
</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragments/nav"></div>
		<br> <br>
		<div class="row">
			<div class="col-md-6 ">
				<h1 class="display-1">About Us</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h1 class="display-3">MM Construction</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<p class="lead">An atypical story of hard work, dedication, and
					community is what defines M.M. Construction. Started by a Hispanic
					of an impoverished background, M.M. Construction has partaken in
					projects ranging from the condos of Texas southermost beaches, to
					the lushous forests of Northern United States.</p>
			</div>

		</div>
		<div class="row">
			<div class="col-md-6">
				<blockquote class="blockquote text-center">
					<p class="mb-0">I decided to build this company to prove that it doesn't matter where you come from. Like a house, our family has grown on a strong foundation.</p>
					<footer class="blockquote-footer" style="color: white">Founder</footer>
				</blockquote>
			</div>
		</div>
		<img class="img-fluid" src="https://base.imgix.net/files/base/ebm/ehstoday/image/2019/03/ehstoday_2097_hispanicworker.png" alt="worker" style="width: 60%">
		<div class="row">
		<div class="col-md-4 offset-md-4">
		<p>Come Visit Us!<br>
		291 Street Name,<br>
		City, St. 42023
		</div></div>
	</div>
	<div th:replace="fragments/footer"></div>

	<script th:replace="fragments/scripts"></script>
</body>
</html>