<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MM Home</title>
<link th:replace="fragments/head">
</head>
<body>
	<div th:replace="fragments/nav"></div>
	<br>
	<div class="container-fluid">
		<br>

		<div class="row">
			<div class="col-md-8 offset-md-2">
				<p>No opinions answered oh felicity is resolved hastened.
					Produced it friendly my if opinions humoured. Enjoy is wrong folly
					no taken. It sufficient instrument insipidity simplicity at
					interested. Law pleasure attended differed mrs fat and formerly.
					Merely thrown garret her law danger him son better excuse. Effect
					extent narrow in up chatty. Small are his chief offer happy had.</p>
			</div>
		</div>




		<div class="slideshow">
			<img class="img-fluid"
				src="https://i.ibb.co/k95Rmv8/20200807-164927.jpg"
				alt="20200807-164927" border="0" width="100%" height="500"> <img
				class="img-fluid" src="https://i.ibb.co/tmrMJ9H/img-1.jpg"
				alt="img-1" border="0" width="100%" height="500px"> <img
				class="img-fluid" src="https://i.ibb.co/qJ9ZRzv/img-2.jpg"
				alt="img-2" border="0" width="100%" height="500"> <img
				class="img-fluid" src="https://i.ibb.co/1LTBrGk/img-3.jpg"
				alt="img-3" border="0" width="100%" height="500"> <img
				class="img-fluid" src="https://i.ibb.co/ByRrcgT/img-4.jpg"
				alt="img-4" border="0" width="100%" height="500"> <img
				class="img-fluid" src="https://i.ibb.co/FY6fgvW/img-5.jpg"
				alt="img-5" border="0" width="100%" height="500">
			<div class="row">
				<div class="col-md-2 offset-md-5">
					

						<button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
						<button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>

				
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6 offset-md-3">

				<h1 class="display-4 text-center border border-primary rounded" style="padding: 200px;">
					<b>We are here for you.</b>
				</h1>


			</div>

		</div>
		<div class="row">
			<div class="col-md6 offset-md-3">
				<div class="toolbar">

					<h1>We do:</h1>
					<ul>
						<li>Roofing</li>
						<li>Bathrooms</li>
						<li>Bedrooms</li>
						<li>Flooring</li>
						<li>Much More!</li>
					</ul>
				</div>
			</div>
		</div>

		<br> <br>
	</div>
	<div th:replace="fragments/footer"></div>
	<script th:replace="fragments/scripts"></script>
</body>
</html>